<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include(`${path}/head`) %>
</head>
<body>
    <%- include(`${path}/navBar`) %>

    <div class="container mt-3">
        <div class="row">       <!-- Grid 적용 -->
            <div class="col-4"></div>
            <div class="col-4">
                <form action="/update" method = "post">
                    <input type="hidden" name="id" value = "<%= id %>">
                        <table class="table table-borderless">
                            <tr>
                                <img src="/<%= player %>.jpg"> 
                            </tr>
                            <tr></tr>
                            <tr>
                                <td>선수명</td><td><input type="text" name="player" value ="<%= player %>"></td>
                            </tr>
                            <tr>
                                <td>백넘버</td><td><input type="text" name="backNo" value = "<%= backNo %>"></td>
                            </tr>
                            <tr>
                                <td>포지션</td><td><input type="text" name="position" value = "<%= position %>"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-primary">수정</button>
                                </td>
                            </tr>
                        </table>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
</html>